[Unit]
Description=Mikrom Agent
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/mikrom/agent.env
ExecStartPre=/usr/sbin/modprobe wireguard
ExecStart=/usr/bin/mikrom-agent
Restart=always
RestartSec=5
User=root
# El agente necesita acceso a /dev/kvm para Firecracker
Group=root

[Install]
WantedBy=multi-user.target
