target
.idea
.env
*.log
.codex
.antigravitycli
.claude
.gemini
.zig-cache
zig-out
neon
tundra-nat64/.git
mikrom-app/coverage
mikrom-app/playwright-report
mikrom-app/test-results
mikrom-api/data/
mikrom-app/build/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
.terraform.lock.hcl
crash.log
