DATABASE_URL=postgres://mikrom:mikrom_password@localhost:5432/mikrom_router
ROUTER_HTTP_PORT=8080
ROUTER_HTTPS_PORT=4343
LOG_LEVEL=info
BASE_DOMAIN=apps.mikrom.local
NATS_URL=nats://localhost:4222
TEST_NATS_URL=nats://localhost:4223
MASTER_KEY=my-super-secret-master-key
CACHE_TTL=3600
