Package: mikrom-router
Version: 0.3.1
Section: admin
Priority: optional
Architecture: amd64
Maintainer: Antonio Pardo <apardo@spluca.org>
Depends: libc6, libssl3, wireguard-tools
Description: Mikrom Router provides high-performance ingress routing for the Mikrom platform using Pingora.
 It integrates dynamic routing via NATS/PostgreSQL and automatic TLS management.
