DATABASE_URL=postgres://mikrom:mikrom_password@[::1]:5432/mikrom_scheduler
NATS_URL=nats://[::1]:4222
TEST_NATS_URL=nats://[::1]:4223

USE_TLS=false
CERTS_DIR=/certs/scheduler

# Observability
ENABLE_TELEMETRY=true
DT_API_URL=http://[::1]:4318/api/v2/otlp
# DT_API_TOKEN=
OTEL_EXPORTER_OTLP_ENDPOINT=http://[::1]:4318/api/v2/otlp
LOG_FORMAT=json

ROUTER_IDLE_TIMEOUT_SECS=900
VM_CLEANUP_INTERVAL_SECS=3600
VM_CLEANUP_TTL_SECS=3600
