DATABASE_URL=postgres://mikrom:mikrom_password@localhost:5432/mikrom_api
ROUTER_DATABASE_URL=postgres://mikrom:mikrom_password@localhost:5432/mikrom_router
REDIS_URL=redis://localhost:6379
JWT_SECRET=your-secret-key-here
NATS_URL=nats://localhost:4222
TEST_NATS_URL=nats://localhost:4223

# ACME Settings
ACME_EMAIL=admin@mikrom.spluca.org
ACME_STAGING=true
ACME_CHECK_INTERVAL=3600
