NATS_URL={{ mikrom_nats_url }}
USE_TLS=false
HOST_ID={{ mikrom_host_id }}
AGENT_HOST_ID={{ mikrom_host_id }}
AGENT_HOSTNAME={{ inventory_hostname }}
BRIDGE_IP={{ mikrom_bridge_ip }}
REGISTRY={{ mikrom_registry }}
REGISTRY_USER={{ mikrom_registry_user | to_json }}
REGISTRY_PASS={{ mikrom_registry_password | to_json }}
FC_BINARY=/usr/local/bin/firecracker
FC_KERNEL_PATH=/opt/firecracker/vmlinux.bin
FC_BASE_ROOTFS=/opt/firecracker/base-rootfs.ext4
JAILER_BINARY=/usr/local/bin/jailer
CLOUD_HYPERVISOR_BINARY=/usr/local/bin/cloud-hypervisor
CLOUD_HYPERVISOR_KERNEL=/opt/cloud-hypervisor/vmlinux.bin
CLOUD_HYPERVISOR_BASE_ROOTFS=/opt/cloud-hypervisor/base-rootfs.ext4
ENABLE_TELEMETRY={{ mikrom_enable_telemetry | lower }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ mikrom_otel_endpoint }}
LOG_FORMAT=json
