DATABASE_URL=postgres://{{ mikrom_postgres_user }}:{{ mikrom_postgres_password | urlencode }}@127.0.0.1:5432/mikrom_api
NATS_URL={{ mikrom_nats_url }}
JWT_SECRET={{ mikrom_jwt_secret | to_json }}
MASTER_KEY={{ mikrom_master_key | to_json }}
API_PORT=5001
ROUTER_ADDR=http://127.0.0.1:80
FRONTEND_URL={{ mikrom_frontend_url }}
DEPLOYMENT_ENV=production
USE_TLS=false
ACME_EMAIL={{ mikrom_acme_email }}
ACME_STAGING={{ mikrom_acme_staging | lower }}
ROUTER_TLS_HOSTNAME={{ mikrom_api_domain }}
FRONTEND_TLS_HOSTNAME={{ mikrom_domain }}
APPS_DOMAIN={{ mikrom_apps_domain }}
MIKROM_NEON_DEV_MODE=true
POLAR_ACCESS_TOKEN={{ mikrom_polar_access_token }}
POLAR_WEBHOOK_SECRET={{ mikrom_polar_webhook_secret }}
POLAR_CHECKOUT_PRODUCT_ID={{ mikrom_polar_checkout_product_id }}
ENABLE_TELEMETRY={{ mikrom_enable_telemetry | lower }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ mikrom_otel_endpoint }}
LOG_FORMAT=json
MIKROM_DATA_DIR={{ mikrom_data_dir }}/data
