HOST={{ mikrom_app_host }}
PORT={{ mikrom_app_port }}
ORIGIN={{ mikrom_frontend_url }}
API_UPSTREAM_URL=http://127.0.0.1:5001
PUBLIC_API_URL=https://{{ mikrom_api_domain }}
PUBLIC_APP_URL={{ mikrom_frontend_url }}
