NATS_URL={{ mikrom_nats_url }}
BUILDKIT_HOST={{ mikrom_buildkit_host }}
DOCKER_HOST=unix:///var/run/docker.sock
REGISTRY={{ mikrom_registry }}
REGISTRY_USER={{ mikrom_registry_user | to_json }}
REGISTRY_PASS={{ mikrom_registry_password | to_json }}
BUILDPACK_BUILDER=paketobuildpacks/ubuntu-noble-builder
LOG_LEVEL=info
