NATS_URL={{ mikrom_nats_url }}
RUST_LOG=info
UPSTREAM_DNS=1.1.1.1,8.8.8.8
ALLOWED_SUBNETS=
NAT64_PREFIX=64:ff9b::
ENABLE_TELEMETRY={{ mikrom_enable_telemetry | lower }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ mikrom_otel_endpoint }}
