NATS_URL={{ mikrom_nats_url }}
RUST_LOG=info
MIKROM_HOST_ID={{ mikrom_host_id }}
MIKROM_DATA_DIR={{ mikrom_data_dir }}/network
MIKROM_WG_PORT={{ mikrom_network_wg_port }}
MIKROM_ADVERTISE_ADDRESS={{ mikrom_advertise_address }}
ENABLE_TELEMETRY={{ mikrom_enable_telemetry | lower }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ mikrom_otel_endpoint }}
