NATS_URL={{ mikrom_nats_url }}
RUST_LOG=info
DATABASE_URL=postgres://{{ mikrom_postgres_user }}:{{ mikrom_postgres_password | urlencode }}@127.0.0.1:5432/mikrom_router
STATE_CACHE_PATH={{ mikrom_data_dir }}/router/router-state.json
ACME_STAGING={{ mikrom_acme_staging | lower }}
API_HOST={{ mikrom_api_domain }}
API_UPSTREAM_URL=http://127.0.0.1:5001
DASHBOARD_HOST={{ mikrom_domain }}
DASHBOARD_UPSTREAM_URL=http://127.0.0.1:3000
ROUTER_ADVERTISE_ADDRESS={{ mikrom_router_advertise_address }}
ROUTER_WG_PORT={{ mikrom_router_wg_port }}
MASTER_KEY={{ mikrom_master_key | to_json }}
ENABLE_TELEMETRY={{ mikrom_enable_telemetry | lower }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ mikrom_otel_endpoint }}
