DATABASE_URL=postgres://{{ mikrom_postgres_user }}:{{ mikrom_postgres_password | urlencode }}@127.0.0.1:5432/mikrom_scheduler
NATS_URL={{ mikrom_nats_url }}
USE_TLS=false
ENABLE_TELEMETRY={{ mikrom_enable_telemetry | lower }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ mikrom_otel_endpoint }}
LOG_FORMAT=json
