[Unit]
Description=BuildKit daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/buildkitd --addr {{ mikrom_buildkit_host }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
