REGISTRY=registry.mikrom.spluca.org/mikrom
REGISTRY_USER=your_user
REGISTRY_PASS=your_pass
BUILDKIT_HOST="docker-container://mikrom-buildkit"
NATS_URL=nats://localhost:4222
TEST_NATS_URL=nats://localhost:4223

# Additional Config
BUILDPACK_BUILDER=paketobuildpacks/ubuntu-noble-builder
LOG_LEVEL=info
