# mikrom-agent environment variables
NATS_URL=nats://[::1]:4222
TEST_NATS_URL=nats://[::1]:4223
# AGENT_ID= (optional, will be generated if not set)
# LOG_LEVEL=info
USE_TLS=false
BRIDGE_IP=fd00::1/64
CERTS_DIR=/certs/agent
AGENT_HOSTNAME=
HOST_ID=

# Observability
ENABLE_TELEMETRY=true
DT_API_URL=http://[::1]:4318/api/v2/otlp
# DT_API_TOKEN=
OTEL_EXPORTER_OTLP_ENDPOINT=http://[::1]:4318/api/v2/otlp
LOG_FORMAT=json
